@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Reset */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }

  .body{
      /* background-image: url(../images/Backgrounds/adrian-infernus-GLf7bAwCdYg-unsplash.jpg); */
    display: grid;
    background-position: fixed;
    background-width: 100%;
    background-size: cover;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: 380px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 100px 20px 80px;
  }

/* create templates for different cards like long and short ones */


.header h4{
    padding: 0 40px ;
}

/* cards */
.project{
    background: rgba(85, 85, 85, 0.816);
    overflow: hidden;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items:center;
    box-shadow: 10px 10px 10px rgba(19, 19, 19, 0.03);
}

.project img{
    height: 50%;
    width: 90%;
    padding:20px;
    border-radius: 3em;
}

.project-name{
    display: inline-flex;
    font-family: 'roboto', sans-serif;
    cursor:default;
}

.project-name h5 {
    display: inline-flex;
    padding: 0 20px;
    font-size: 1.4em;
} 

.project-name a{
    font-size:15px;
    text-decoration: none;
    color:white;
    padding: 2px 50px 0 50px ;
    border: 1px solid black;
    border-radius: 3em;
    background-color: black;
    transition: 300ms ease-in-out;
}

.project-name a:hover{
    background-color: transparent ;
    color:black;
}


.project p {
    display: flex;
    padding: 10px 10px 10px 10px ;
    font-size: 1em;
    text-align: center;
    font-family: 'roboto', sans-serif;
}

.project footer{
    display: inline-flex;
    align-items: center;
}

.project footer p{
    font-weight: 700;
    display: inline-flex;
    
}